
<html lang="en">
<head>
</head>
<body>
  <h1>Shopify BackEnd Challenge - Clarence Chan</h1>
  <h2>Enter the URL for the request and the output will be shown.</h2>
  <form action= "/" method="post">
      <input type="text" name="url">
      <input type="submit" value="Send">
  </form>
  <div class="container">
    <ul>
      Page 1: https://backend-challenge-winter-2017.herokuapp.com/customers.json
    </ul>
    <ul>
      Page 2: https://backend-challenge-winter-2017.herokuapp.com/customers.json?page=2
    </ul>
    <ul>
      Page 3: https://backend-challenge-winter-2017.herokuapp.com/customers.json?page=3
    </ul>
    <ul>
      Page 4: https://backend-challenge-winter-2017.herokuapp.com/customers.json?page=4
    </ul>
  <div>
</body>
</html>
